@model Nhom2_WebsiteBanXe.Models.Xe

@{
    ViewBag.Title = "DeleteXe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN SẢN PHẨM CẦN XÓA</h2>

<h3>Bạn có muốn xóa sản phẩm này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Loại xe:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiXe.TenLoai)
        </dd>

        <dt>
            Hãng xe:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangXe.TenHangXe)
        </dd>

        <dt>
            Tên xe:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenXe)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.GiaTien) VNĐ
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="@Url.Content("~/HinhSP/"+ Model.Anhbia)" width="120px" />
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd style="width:600px;text-align:justify">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            Năm sản xuất:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamSanXuat)
        </dd>

        <dt>
            Tình trạng xe:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangXe)
        </dd>

        <dt>
            Ngày nhập:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>

        <dt>
            Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("TRỞ VỀ TRANG QUẢN LÝ XE", "Xe")
        </div>
    }
</div>
