@model IEnumerable<Nhom2_WebsiteBanXe.Models.ChiTietOrder>

@*@using Nhom2_WebsiteBanXe.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Nhom2_WebsiteBanXe.Models.ChiTietOrder>*@

@{
    ViewBag.Title = "DonHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">QUẢN LÝ ĐƠN HÀNG</h2>


<table class="table">
    <tr>
        <th>
            Mã Order
        </th>
        <th>
            Mã khách hàng
        </th>
        <th>
            Tên xe
        </th>
        <th>
            Ảnh bìa
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Thành tiền
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Ngày giao
        </th>
        <th>
            Tình trạng giao hàng
        </th>
        <th>
            Tình trạng thanh toán
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.MaKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xe.TenXe)
            </td>
            <td>
                <img src="@Url.Content("~/HinhSP/"+ item.Xe.Anhbia)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.NgayGiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.TinhTrangGH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.TinhTrangThanhToan)
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "ChiTietDH", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Xóa", "XoaDH", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
