@model IEnumerable<Nhom2_WebsiteBanXe.Models.LoaiXe>

@{
    ViewBag.Title = "LoaiXe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">QUẢN LÝ LOẠI XE</h2>

<p>
    @Html.ActionLink("THÊM MỚI", "ThemLX")
</p>
<table class="table"  style="text-indent: 300px">
    <tr>
        <th>
            Tên loại xe
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoai)
        </td>
        <td>
            @Html.ActionLink("Sửa", "SuaLX", new { id = item.idLoaiXe }) |
            @Html.ActionLink("Chi tiết", "ChiTietLX", new { id = item.idLoaiXe }) |
            @Html.ActionLink("Xóa", "XoaLX", new { id = item.idLoaiXe })
        </td>
    </tr>
}

</table>
