@model Nhom2_WebsiteBanXe.Models.ChiTietOrder

@{
    ViewBag.Title = "SuaDH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">SỬA ĐƠN HÀNG</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idXe)

        @Html.HiddenFor(model => model.MaOrder)

        <div class="form-group">
            @Html.LabelFor(model => model.MaOrder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-10">
                    <div style="font:18px; padding: 5px 0 0 5px">@Model.MaOrder</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idXe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-10">
                    <div style="font:18px; padding: 5px 0 0 5px">@Model.idXe</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Xe.TenXe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-10">
                    <div style="font:18px; padding: 5px 0 0 5px">@Model.Xe.TenXe</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Xe.Anhbia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-10">
                    <img src="@Url.Content("~/HinhSP/"+ Model.Xe.Anhbia)" width="120px" />
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-10">
                    <div style="font:18px; padding: 5px 0 0 5px">@Model.SoLuong</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px">@Model.DonGia</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order.NgayTao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px">@Model.Order.NgayTao</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order.NgayGiao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px">@Model.Order.NgayGiao</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order.TinhTrangThanhToan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="TinhTrangThanhToan" list="valueList" />
                <datalist id="valueList">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </datalist>
                @*<div style="font:18px; padding: 5px 0 0 5px">@Model.Order.TinhTrangThanhToan</div>*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order.TinhTrangGH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="TinhTrangGH" list="valueList"/>
                <datalist id="valueList">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </datalist>
                @*<div style="font:18px; padding: 5px 0 0 5px">@Model.Order.TinhTrangGH</div>*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
