<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/LTW.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Content/assets/images/icons/favicon.ico" />
    <title>Trang quản trị Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
</head>
<body style="background-color: whitesmoke">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AroundTheClock", "Index", "CarStore", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    <li>@Html.ActionLink("QL Hãng Xe", "HangXe", "Admin")</li>
                    <li>@Html.ActionLink("QL Loại Xe", "LoaiXe", "Admin")</li>
                    <li>@Html.ActionLink("QL Sản Phẩm", "Xe", "Admin")</li>
                    <li>@Html.ActionLink("QL Khách Hàng", "KhachHang", "Admin")</li>
                    <li>@Html.ActionLink("QL Thể Loại Tin", "Theloaitin", "Admin")</li>
                    <li>@Html.ActionLink("QL Tin tức", "TinTuc", "Admin")</li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>



    <div class="container body-content">
        <hr />
        <footer>

            <p>&copy; @DateTime.Now.Year - ASP.NET Application - Nhóm 2</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>