
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Website Bán Xe - AroundTheClock</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/Contact/css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Content/assets/images/icons/favicon.ico" />

    <link href="~/Content/TrangChu/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/TrangChu/css/style.css" rel="stylesheet" />
    <link href="~/Content/TrangChu/css/responsive.css" rel="stylesheet" />
</head>
<body>
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="@Url.Action("Index","CarStore")"><img src="~/Content/TrangChu/images/logo2.png" alt="#" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarsExample04">
                                <ul class="navbar-nav mr-auto" style="padding-top:17.5px">
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("AboutUs","CarStore")">Giới Thiệu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Contact","CarStore")">Liên Hệ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Tin Tức</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Sanpham","CarStore")">Sản Phẩm</a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <div class="dropdown">
                                            <button class="dropbtn" style="">NGƯỜI DÙNG</button>
                                            <div class="dropdown-content">
                                                <a href="@Url.Action("Dangnhap","KhachHang")">Đăng Nhập</a>
                                                <a href="@Url.Action("Dangky","KhachHang")">Đăng Ký</a>
                                                @Html.Action("GioHangPartial", "GioHang")
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Liên Hệ</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row no-gutters mb-5">
                            <div class="col-md-7">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h3 class="mb-4">Hãy để lại phản hồi cho chúng tôi</h3>
                                    <div id="form-message-warning" class="mb-4"></div>
                                    <div id="form-message-success" class="mb-4">
                                        Your message was sent, thank you!
                                    </div>
                                    @using (Html.BeginForm())
                                    {
                                        @Html.ValidationSummary(true)
                                        <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="name">Họ tên</label>
                                                        <input type="text" class="form-control" name="HoTen" id="name" placeholder="Name">
                                                        @ViewData["Loi1"]
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="email">Địa chỉ Email</label>
                                                        <input type="email" class="form-control" name="eMail" id="email" placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="subject">Tiêu đề</label>
                                                        <input type="text" class="form-control" name="TieuDe" id="subject" placeholder="Subject">
                                                        @ViewData["Loi2"]
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="#">Nội dung</label>
                                                        <textarea name="NoiDung" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                                                        @ViewData["Loi3"]
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="submit" value="Gửi tin nhắn" class="btn btn-primary">
                                                        <div class="submitting"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    }

                                </div>
                            </div>
                            <div class="col-md-5 d-flex align-items-stretch">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4206639905988!2d106.78291401432107!3d10.855574792267845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2zSHV0ZWNoIEtodSBFIC0gVHJ1bmcgVMOibSDEkMOgbyBU4bqhbyBOaMOibiBM4buxYyBDaOG6pXQgTMaw4bujbmcgQ2Fv!5e0!3m2!1svi!2s!4v1656682359648!5m2!1svi!2s" width="600" height="570" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div class="text">
                                    <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-phone"></span>
                                </div>
                                <div class="text">
                                    <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-paper-plane"></span>
                                </div>
                                <div class="text">
                                    <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-globe"></span>
                                </div>
                                <div class="text">
                                    <p><span>Website</span> <a href="#">yoursite.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p>@DateTime.Now.Year - ASP.NET Application - Nhóm 2 - 19DTHA5</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Content/Contact/js/jquery.min.js"></script>
    <script src="~/Content/Contact/js/popper.js"></script>
    <script src="~/Content/Contact/js/bootstrap.min.js"></script>
    <script src="~/Content/Contact/js/jquery.validate.min.js"></script>
    <script src="~/Content/Contact/js/google-map.js"></script>
    <script src="~/Content/Contact/js/main.js"></script>

</body>
</html>

