@model IEnumerable<Nhom2_WebsiteBanXe.Models.Xe>
@{
    ViewBag.Title = "SpTheoHang";
    Layout = "~/Views/Shared/_LayoutTrangChuNew.cshtml";
}

<h3 style="text-align:center">CÁC LOẠI XE CỦA HÃNG</h3>
<div class="row">
    @foreach (var hx in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details","CarStore",new { id = hx.idXe})">
                    <img alt="@hx.TenXe" src="~/HinhSP/@hx.Anhbia" style="width:200px" />
                    <div>
                        <br />
                        <h4 style="text-align:center">
                            @hx.TenXe
                        </h4>
                        <p></p>
                    </div>
                </a>
                <div class="ratings">
                    <div class="pull-right">
                        <p>
                            <span class="glyphicon glyphicon-heart" style="color: red"></span> @hx.TinhTrangXe
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-folder-close" style="color: orange"></span> @hx.SoLuongTon
                        </p>
                    </div>
                    <div>
                        <p>
                            <span class="glyphicon glyphicon-tag" style="text-indent: 5px; color: red"></span> @String.Format("{0:0,0}", @hx.GiaTien) @*@hx.GiaTien*@ VNĐ
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-calendar" style="text-indent: 5px; color: orange"></span> @hx.NamSanXuat
                        </p>
                    </div>

                    
                </div>
            </div>
        </div>
    }
</div>

