
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng ký thành viên</title>

    <!-- Font Icon -->
    <link href="~/Content/assets2/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!-- Main css -->
    <link href="~/Content/assets2/css/style.css" rel="stylesheet" />
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)
                            <h2 class="form-title">ĐĂNG KÝ</h2>
                            <form method="POST" class="register-form" id="register-form">
                                <div class="form-group">
                                    <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="HoTenKH" id="name" placeholder="Họ và tên" />
                                </div>
                                <div class="form-group">
                                    <label for="gioitinh"><i class="zmdi zmdi-male-female material-icons-name"></i></label>
                                    <input type="text" name="GioitinhKH" id="name" placeholder="Giới tính" />
                                </div>
                                <div class="form-group">
                                    <label for="dob"><i class="zmdi zmdi-calendar material-icons-name"></i></label>
                                    <input type="date" name="NgaySinh" id="name" placeholder="Ngày sinh" />
                                </div>
                                <div class="form-group">
                                    <label for="sdt"><i class="zmdi zmdi-phone material-icons-name"></i></label>
                                    <input type="text" name="SdtKH" id="email" placeholder="Phone" />
                                </div>
                                <div class="form-group">
                                    <label for="diachi"><i class="zmdi zmdi-pin-drop material-icons-name"></i></label>
                                    <input type="text" name="DiachiKH" id="name" placeholder="Địa chỉ" />
                                </div>
                                <div class="form-group">
                                    <label for="sdt"><i class="zmdi zmdi-email"></i></label>
                                    <input type="text" name="eMailKH" id="email" placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    <label for="taikhoan"><i class="zmdi zmdi-account-box material-icons-name"></i></label>
                                    <input type="text" name="TendangnhapKH" id="name" placeholder="Tài khoản" />
                                </div>
                                <div class="form-group">
                                    <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                    <input type="password" name="MatkhauKH" id="pass" placeholder="Mật khẩu" />
                                </div>
                                <div class="form-group">
                                    <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                    <input type="password" name="Matkhaunl" id="re_pass" placeholder="Nhập lại mật khẩu" />
                                </div>
                                <div class="form-group form-button">
                                    <input type="submit" id="signup" class="form-submit" value="Register" />
                                </div>
                            </form>
                        }

                    </div>
                    <div class="signup-image">
                        <figure><img src="~/Content/assets2/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="@Url.Action("Dangnhap","KhachHang")" class="signup-image-link">Tôi đã là thành viên</a>
                        <a href="@Url.Action("Index","CarStore")" class="signup-image-link">TRỞ VỀ TRANG CHỦ</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/Content/assets2/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets2/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>





@*<h2 style="text-align:center">ĐĂNG KÝ THÀNH VIÊN</h2>
<br />
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>Họ tên: </td>
            <td>
                @Html.TextBox("HotenKH")
                @ViewData["Loi1"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Giới tính: </td>
            <td>
                @Html.TextBox("GioitinhKH")
                @ViewData["Loi2"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Ngày sinh: </td>
            <td>
                <input type="date" name="NgaySinh" />
            </td>
        </tr>
        <tr style="height:40px">
            <td>SĐT: </td>
            <td>
                @Html.TextBox("SdtKH")
                @ViewData["Loi3"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Địa chỉ: </td>
            <td>
                @Html.TextBox("DiachiKH")
                @ViewData["Loi4"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>eMail: </td>
            <td>
                @Html.TextBox("eMailKH")
                @ViewData["Loi5"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Tên đăng nhập: </td>
            <td>
                @Html.TextBox("TendangnhapKH")
                @ViewData["Loi6"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Mật khẩu: </td>
            <td>
                @Html.Password("MatkhauKH")
                @ViewData["Loi7"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Nhập lại mật khẩu: </td>
            <td>
                @Html.Password("Matkhaunl")
                @ViewData["Loi8"]
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="submit" value="Đăng ký" />
            </td>
        </tr>
    }
</table>*@

